.details-container {
    padding: 20px;
}

.details-container .imgs-details {
    overflow: hidden;
    border-radius: 10px;
}

.details-container .imgs-details img {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.details-container .imgs-details img:hover {
    transform: scale(1.05);
}

.details-container .imgs-details .icon-div {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.details-container .imgs-details .icon-div:hover {
    transform: scale(1.3);
}

.details-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.details-container .continent,
.details-container .type,
.details-container .price {
    font-size: 1.2rem;
    color: #555;
}

.details-container .price {
    font-weight: bold;
}

.details-container .btn-primary {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #ff5a5f;
    border: none;
    transition: background-color 0.3s ease;
}

.details-container .btn-primary:hover {
    background-color: #e04e4f;
}

.details-container .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: none;
    box-shadow: 3px 3px 15px rgba(63, 63, 63, 0.191);
}

.details-container .host-name {
    color: rgb(101, 101, 101);
}

.details-container .lista-desc i {
    font-size: 1.5rem;
}

.details-container .lista-desc h5 {
    font-size: 1.1rem;
}

/*----------BOOKING FORM------------------*/
.booking-form {
    background-color: #ffffff;
    padding: 2.5rem 2rem;
    border-radius: 25px;
    max-width: 420px;
    width: 100%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    animation: slideIn 0.4s ease-out forwards;
    position: sticky;
    top: 130px;
}

.booking-form .box-form {
    border: 0.5px solid rgba(71, 71, 71, 0.51);
    border-radius: 15px;
    overflow: hidden;
    transition: border-color 0.3s ease;
}

.booking-form .box-form:hover {
    border-color: black;
}

.booking-form h2 {
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.booking-form label {
    font-weight: 600;
    color: #5b5b5b;
    margin-bottom: 6px;
    font-size: 0.9rem;
}


.booking-form input,
.booking-form select {
    padding: 10px 15px;
    width: 100%;
    border: none;
    border-left: 0.5px solid rgba(71, 71, 71, 0.51);
    border-radius: 0 !important;
    background-color: white;
    color: #6f6f6f;
    font-size: 14px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.booking-form select {
    color: black;
}

.booking-form .first-input {
    border: none;
}

.booking-form .last-input {
    border: none;
    border-top: 0.5px solid rgba(71, 71, 71, 0.51);
}

.booking-form input:hover,
.booking-form input:focus,
.booking-form select:hover,
.booking-form select:focus {
    box-shadow: none !important;
    border-color: rgba(71, 71, 71, 0.51) !important;
    color: black;
}

.booking-form .selected {
    color: black;
}

.booking-form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #F16571;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.booking-form button:hover {
    background-color: #e25a64;
    transform: translateY(-2px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.booking-form .error-message {
    transition: transform 0.5s ease-in-out;
}

.booking-form .error-message.pulse {
    transform: scale(1.1);
}

/* Skeleton Container */
.skeleton-details {
    animation: pulse 2s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Pulsing Animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

/* Skeleton Images */
.skeleton-img-main {
    background-color: #e0e0e0;
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
}

.skeleton-img-sub {
    background-color: #e0e0e0;
    width: 50%;
    height: 32%;
    margin-left: 0.5rem;
    margin-bottom: 10px;
}

/* Skeleton Text */
.skeleton-text {
    background-color: #e0e0e0;
    height: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.skeleton-title {
    width: 60%;
    height: 20px;
    margin-bottom: 20px;
}

.skeleton-paragraph {
    width: 80%;
    height: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.skeleton-profile-img {
    background-color: #e0e0e0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.skeleton-form {
    background-color: #e0e0e0;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
}

.skeleton-form-input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    background-color: #e0e0e0;
    border-radius: 4px;
}

/* Skeleton Buttons */
.skeleton-btn {
    background-color: #e0e0e0;
    width: 100%;
    height: 40px;
    border-radius: 4px;
}