.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.home-container .bg-img-home {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

@media (max-width: 1200px) {
    .home-container .bg-img-home {
        height: 580px;
        width: auto;
    }
}